.body {
  margin-top: 500px;
}

.logoControl {
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.control {
  display: flex;
  justify-content: center;
}

#navbar {
  width: 1200px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  display: flex;
  justify-content: center;
}

#navbar a {
  color: #444;
  text-decoration-line: none;
  font-size: 1.2rem;
}

#navbar a:hover {
  background-color: #444;
  color: white;
}

#navbar a:active {
  color: orange;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  padding: 0 70px;
  list-style-type: none;
  border-left: solid 1px;
}

#navbar ul li:first-child {
  border-left: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro h1 {
  font-size: 2rem;
  font-weight: 100;
}
.intro p {
  font-size: 1.5rem;
  margin-top: 0;
}

.menu {
  flex-direction: column;
}

.partOne {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.partOne .left {
  margin-right: 50px;
}
.partOne .left img {
  width: 400px;
  height: 400px;
}
.partOne .right {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partOne .right h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.partOne .right p {
  text-align: center;
  font-size: 1.2rem;
}
.partOne .right button {
  font-size: 1rem;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #444;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.partOne .right button:hover {
  filter: brightness(1.2);
}
.partOne .right button:active {
  background-color: white;
  color: #444;
}

.partTwo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.partTwo .twoLeft {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partTwo .twoLeft h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.partTwo .twoLeft p {
  text-align: center;
  font-size: 1.2rem;
}
.partTwo .twoLeft button {
  font-size: 1rem;
  width: 100px;
  height: 40px;
  cursor: pointer;
  background-color: #444;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.partTwo .twoLeft button:hover {
  filter: brightness(1.5);
}
.partTwo .twoLeft button:active {
  background-color: white;
  color: #444;
}
.partTwo .twoRight img {
  width: 300px;
  height: 300px;
  margin-left: 150px;
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.footer .main-footer {
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
  width: 1200px;
}
.footer .main-footer .footerLeft {
  width: 300px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer .main-footer .footerLeft img {
  width: 200px;
  height: 200px;
}
.footer .main-footer .footerMid {
  margin-top: 20px;
  width: 400px;
  padding-left: 0;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.footer .main-footer .footerMid p {
  margin-top: 0;
  text-align: center;
}
.footer .main-footer .footerRight {
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
  display: flex;
}
.footer .main-footer .footerRight ul li {
  list-style-type: none;
  padding: 0 10px 10px 0;
}
.footer .main-footer .footerRight ul li a {
  color: #444;
  text-decoration-line: none;
  font-size: 1.2rem;
}
.footer .main-footer .footerRight ul li a:hover {
  background-color: #444;
  color: white;
}

.copyRight {
  display: flex;
  justify-content: center;
}
.copyRight p {
  margin-top: 5px;
  margin-bottom: 0;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.title h1 {
  font-size: 2rem;
}

.coffeeType {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.coffeeType .pic {
  width: 200px;
  height: 200px;
}
.coffeeType .pic img {
  width: 180px;
  height: 180px;
  margin-top: 15px;
}
.coffeeType .introduce {
  width: 500px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 0;
  overflow: hidden;
}
.coffeeType .introduce p {
  font-size: 1rem;
}
.coffeeType .introduce button {
  height: 35px;
  background-color: #444;
  color: white;
  cursor: pointer;
  font-weight: 300;
}
.coffeeType .introduce button:hover {
  filter: brightness(1.5);
}
.coffeeType .introduce button:active {
  background-color: white;
  color: #444;
}

.youtube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.youtube h1 {
  font-size: 2rem;
  margin-bottom: 0;
}
.youtube .video {
  margin-top: 20px;
}

.hisPic {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.aboutControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutControl .aboutUs {
  margin-top: 30px;
  width: 1200px;
  height: 300px;
  background-image: url("../img/Coffee/coffee4.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutControl .aboutUs h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
.aboutControl .aboutUs p {
  font-size: 1.5rem;
}
.aboutControl .aboutIntro {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 1200px;
}
.aboutControl .aboutIntro .aboutLeft {
  width: 250px;
  height: 250px;
}
.aboutControl .aboutIntro .aboutLeft img {
  width: 250px;
  height: 250px;
}
.aboutControl .aboutIntro .aboutRight {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutControl .aboutIntro .aboutRight p {
  margin-left: 50px;
  font-size: 1.3rem;
  margin-top: 0;
}

.bannerControl {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.bannerControl .banner {
  width: 1200px;
  height: 300px;
  border: solid;
  position: relative;
  overflow: hidden;
}
.bannerControl .banner ul {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.bannerControl .banner ul li {
  list-style: none;
}
.bannerControl .banner ul li img {
  width: 1200px;
  height: 300px;
}
.bannerControl .banner .prev {
  background-color: #666;
  color: white;
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  top: 45%;
  cursor: pointer;
}
.bannerControl .banner .next {
  background-color: #666;
  color: white;
  width: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 45%;
  cursor: pointer;
}

/*# sourceMappingURL=style1.css.map */
